@import "../../styles/mixins";
@import "../../styles/variables";

.MainNews {
  margin: 40px 0;

  .ButtonMore {
    margin-left: auto;
    display: block;

    @media (max-width: $mobile) {
      display: none;
    }
  }
}

.Title {
  @include section-header;
}

.SubTitle {
  @include section-subtitle;
}