@import "../../styles/variables";

.LogoLink {
  display: inline-block;
}

.Logo {
  width: 216px;
  height: 71px;

  @media (max-width: $tabletMax) {
    width: 122px;
    height: 40px;
  }

  @media (max-width: $tabletMedium) {
    width: 103px;
    height: 34px;
  }
}

.FooterLogo {
  width: 216px;
  height: 71px;

  @media (max-width: $tabletMax) {
    width: 216px;
    height: 71px;
  }

  @media (max-width: $tabletMedium) {
    width: 122px;
    height: 40px;
  }
}