@import "../../styles/variables";

.Navigation {
  margin-left: auto;
  display: flex;

  @media (max-width: $tablet) {
    background: $black4;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    flex-direction: column;
    padding: 50px;
    display: none;
  }

  @media (max-width: $tabletMedium) {
    padding: 50px 30px 30px;
  }
}
.Icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 20px;

  @media (max-width: 1280px) {
    flex-basis: 80px;
  }

  @media (max-width: $tablet) {
    margin-left: 0;
  }
}

.Icon {
  display: inline-block;
  line-height: 0;
  margin-right: 10px;
  text-decoration: none;
  cursor: pointer;
  background: none;
  border: none;
  padding: 0;

  &:hover {
    .Icon {
      fill: rgba(0, 0, 0, .65);
    }
  }
}

.Svg {
  width: 32px;
  height: 32px;
  fill: $black;
}