@import "../../../styles/variables";

.List {
  position: relative;
}

.Navigation {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  height: 24px;
  z-index: -1;

  @media (max-width: $tablet) {
    display: none;
  }
}

.Prev, .Next {
  position: absolute;
  border: none;
  padding: 0;
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.Prev {
  background: url("../../../assets/icons/arrow-left.svg") no-repeat;
  left: -44px;
}

.Next {
  background: url("../../../assets/icons/arrow-right.svg") no-repeat;
  right: -44px;
}